<% if current_user %>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
  <p class="navbar-brand" >Hello <%= current_user.username %>! </p>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <div class="nav">

        <li class="nav-item">
          <%= link_to 'New Post', posts_path , class:"nav-link active "%>
        </li>

        <li class="nav-item">
          <%= link_to 'Projects', projects_path , class:"nav-link active "%>
        </li>

        <li class="nav-item">
          <%= link_to "Edit Account", edit_user_registration_path, class:"nav-link active" %>
        </li>

        <li class="nav-item">
          <%= link_to('Logout', destroy_user_session_path, 'data-turbo-method': :delete , class:"nav-link active") %>
        </li>
        </div>
    </div>
  </div>
</nav>
<br>
<br>

<ul class="cards">

<% @posts.each do |post| %>
  <% if post.user == current_user %>
     
<body class="body">
 <li class="cards__item">
    <div class="card">
      <div class="card__content">
        <div class="card__title"><%= post.name %></div>
        <p class="card__text"><%= post.description %></p>
            <%= button_to 'Remove',  project_path(post), method: 'delete', data: { confirm: 'Are you sure?' },class:"btn1 btn--block card__btn" %> <br>
            <%= button_to 'Edit', edit_project_path(post), method: 'get', class:"btn1 btn--block card__btn"%> 
      </div>
    </div>
  </li>


      <% end %>
<% end %>

</ul>
</body>
      <% else %>
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
  <div class="navbar-brand" >Welcome Basecamp </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <div class="nav">

        <li class="nav-item">
          <%= link_to "Sign Up!", new_user_registration_path ,  class:"btn btn-primary" , style: "margin-right: 10px"%>
        </li>

        <li class="nav-item">
          <%= link_to "Login", new_user_session_path,  class:"btn btn-primary" %>
        </li>

        </div>
    </div>
  </div>
</nav>


<h1 style="text-align:center; font-family:Arial; font-size:50px; font-weight:bold ; margin-top:150px; color:silver">Basecamp</h1>
<p style="text-align:center; font-family:Arial; font-size:20px; font-weight:bold ; color:silver; width:100%">Basecamp is a public cloud model for project management<br> collaboration and project management <br>created by the company of the same name <br>(the company was called 37signals until 2014).<br> In the process of developing and using Basecamp by the Ruby on Rails framework</p>
<% end %>
    

 
